.container {
	display: flex;
	flex-direction: column;
	gap: 60px;

	.content {
		max-height: 870px;
		overflow: scroll;

		padding: 40px 60px;

		background: linear-gradient(
			155.98deg,
			#0b0b0b 36.17%,
			rgba(11, 11, 11, 0) 109.74%
		);
		box-shadow: inset -20px -20px 30px rgba(0, 0, 0, 0.6);
		filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25))
			drop-shadow(7px 7px 7px #141414);
		border-radius: 8px;

		&::-webkit-scrollbar {
			width: 12px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background: #b79f7150;

			border-radius: 8px;
			border: none;
			border: 4px solid #0b0b0b;
		}

    &::-webkit-scrollbar-corner  {
      background: transparent;
    }
	}
}
