@import '../../../../../styles/palettes/configuratorPallete';

.show-fullscreen-btn {
	position: absolute;
	bottom: 70px;
	right: 20px;
	z-index: 1;
	padding: 0.5rem;

	width: 54px;
	height: 54px;

	background-color: $primary-background;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: $primary-icon-color;
        stroke: $primary-icon-color;
        height: 36px;
        width: 36px;
    }

    &:hover {
        cursor: pointer;
    }
}
