@import '../../../../../assets/fonts/Inter';
@import '../../../../../styles/palettes/configuratorPallete';

.container {
	font-size: 1.125rem;
	font-family: 'Inter ExtraBold', sans-serif;
  text-decoration: none;
  text-transform: uppercase;

  color: $primary-font-color;
}
