@import '../../../../../assets/fonts/Inter';
@import '../../../../../styles/palettes/configuratorPallete';

.container {
	font-size: 1.125rem;
	font-family: 'Inter ExtraBold', sans-serif;
	text-decoration: none;
	text-transform: uppercase;

	color: $primary-font-color;

	transition: 300ms;

	&:hover {
		filter: brightness(0.8);
		transform: translateY(-3px);
	}
}
