.container {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	gap: 10px;

	overflow: auto;
}

.container::-webkit-scrollbar {
	display: none;
}

.container {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
