.container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	gap: 10px;

	overflow: scroll;
}

.container::-webkit-scrollbar {
	display: none;
}

.container {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
