@font-face {
	font-family: 'Inter';
	src: url('../../../../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter ExtraBold';
	src: url('../../../fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
	font-weight: bolder;
}
