@font-face {
	font-family: 'Montserrat';
	src: url('../../../fonts/Montserrat/Montserrat-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../../../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('../../../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
