hr {
    background-image: -webkit-linear-gradient(
        left,
        rgba(150, 161, 168, 0.1),
        rgba(236, 239, 241, 0.9),
        rgba(118, 134, 144, 0.1)
    );
    background-image: -moz-linear-gradient(
        left,
        rgba(150, 161, 168, 0.15),
        rgba(236, 239, 241, 0.9),
        rgba(118, 134, 144, 0.15)
    );
    background-image: -ms-linear-gradient(
        left,
        rgba(150, 161, 168, 0.15),
        rgba(236, 239, 241, 0.9),
        rgba(118, 134, 144, 0.15)
    );
    background-image: -o-linear-gradient(
        left,
        rgba(150, 161, 168, 0.15),
        rgba(236, 239, 241, 0.9),
        rgba(118, 134, 144, 0.15)
    );
    border: 0;
}