@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../assets/fonts/Inter';
@import '../../../../../styles/palettes/configuratorPallete';

.container {
	text-decoration: none;

	.title {
		position: relative;
		width: fit-content;

		font-family: 'Montserrat Bold', sans-serif;
		font-size: 36px;
		color: $primary-font-color;

		white-space: nowrap;

		.date {
			position: absolute;
			top: -1em;
			right: 15%;

			font-family: 'Inter', sans-serif;
			font-size: 20px;
			color: $primary-font-color;
		}
	}
}

@media (max-width: 490px) {
	.container {
		.title {
			font-size: 28px;
		}

		.date {
			font-size: 16px;
		}
	}
}

@media (max-width: 385px) {
	.container {
		margin-top: 8px;

		.title {
			font-size: 22px;
		}

		.date {
			font-size: 12px;
		}
	}
}
