@import '../../../../../../styles/utils/optimizedBackdropFilter';

.container {
	width: 100%;
	height: 100vh;
	position: relative;

	scroll-snap-align: start;

	.content {
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		gap: 15%;
	}

	.image-wrapper {
		position: relative;

		width: 350px;
		height: 450px;

		&::after {
			content: '';

			position: absolute;
			top: -15px;
			left: 15px;

			width: 100%;
			height: 100%;

			background-color: rgba(0, 0, 0, 0.6);
			@include optimizedBackdropFilter('blur(50px)');

			z-index: -1;
		}
	}
}

@media (max-width: 1000px) {
	.container {
		.content {
			padding-top: 80px;
			padding: 0 15px;
			flex-direction: column;
			gap: 5%;

			.image-wrapper {
				width: 200px;
				height: 300px;
			}
		}
	}
}
