@import '../../../../../../styles/palettes/configuratorPallete';

.admin-btn {
    width: 280px;

    color: $primary-font-color;
    background-color: $primary-background;
    padding: 10px;

    border: none;
    border-radius: 5px;

    font-size: 16px;

    transition: 500ms;
}