@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../assets/fonts/AnticDidone';
@import '../../../../../styles/palettes/configuratorPallete';

.container {
	width: 100vw;
	height: 100vh;
	min-height: 720px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url('../../../../../../images/MainPage/background-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: auto;

	scroll-snap-align: start;

	.title {
		font-family: 'Montserrat Bold', sans-serif;
		font-size: 2.25rem;
		color: #fff;
		text-align: center;

		margin-top: 80px;
	}

	.models-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 100px;

		.models {
			display: flex;
			gap: 10%;
		}

		.show-next-btn-wrapper {
			display: none;

			.show-next-btn {
				display: none;
			}
		}
	}
}

@media (max-width: 900px) {
	.container {
		.title {
			font-size: 1.85rem;
			margin-top: 40px;
		}

		.models {
			margin-top: 50px;

			// remove last child
      
			// & > *:last-child {
			// 	display: none;
			// }
		}
	}
}

@media (max-width: 484px) {
	.container {
		.title {
			font-size: 1.5rem;
		}

		.models-wrapper {
			margin-top: 0px;

			.models {
				scale: 0.8;
				margin-top: -10px;
			}

			.show-next-btn-wrapper {
				display: block;
				border-radius: 20px;

				background: transparent;
				box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.7);
				padding: 5px;

				width: 160px;
				margin: auto;

				.show-next-btn {
					font-family: 'Antic Didone', serif;
					color: $primary-font-color;

					display: flex;
					align-items: center;
					gap: 5px;

					width: 100%;
					border-radius: inherit;

					border: none;
					background: linear-gradient(
						-130.18deg,
						#273647 22.44%,
						#071117 50.46%
					);

					font-size: 1rem;
					padding: 0.5em 1em;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}
