.container {
	width: 100vw;
	height: 100vh;

	background-image: url('../../../../../../images/MainPage/background-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
