@import '../../../../../assets/fonts/Montserrat';

.container {
	width: 100vw;
	height: 100vh;
	min-height: 720px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url('../../../../../../images/MainPage/background-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: auto;

	scroll-snap-align: start;

	.title {
		font-family: 'Montserrat Bold', sans-serif;
		font-size: 2.25rem;
		color: #fff;
		text-align: center;

		margin-top: 80px;
	}

	.models {
		display: flex;
		gap: 10%;

		margin-top: 100px;
	}
}

@media (max-width: 900px) {
	.container {
		.title {
			font-size: 1.85rem;
			margin-top: 40px;
		}

		.models {
			margin-top: 50px;
			// remove last child
			& > *:last-child {
				display: none;
			}
		}
	}
}

@media (max-width: 484px) {
	.container {
		.title {
			font-size: 1.5rem;
		}

		.models {
			scale: 0.8;
			margin-top: -10px;
		}
	}
}
