@import '../../../../../assets/fonts/MrDafoe';
@import '../../../../../styles/palettes/configuratorPallete';

.container {
	inset: 0 0 0 0;
	position: fixed;

	padding: 36px;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;

	cursor: pointer;

	.content {
		font-family: 'Montserrat', sans-serif;

		width: 86vw;
		margin-top: 125px;
		height: calc(100vh - 225px);

		cursor: default;
		color: $primary-font-color;

		overflow: scroll;

		font-size: 1.3rem;
		font-weight: lighter;

		padding: 1em;

		.header {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			margin-bottom: 20px;

			.logo {
				font-family: 'MrDafoe', sans-serif;
				font-size: 3rem;
				letter-spacing: 1px;

				display: flex;
				align-items: center;
				gap: 10px;

				margin: auto;

				p {
					margin-left: 46px;
					color: white;

					user-select: none;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
				}
			}

			.close-btn {
				width: 46px;
				height: 46px;

				path {
					fill: white;
					transition: 500ms;
				}

				transition: 500ms;

				&:hover {
					cursor: pointer;
					transform: scale(1.05);
				}
			}
		}
	}

	.content::-webkit-scrollbar {
		display: none;
	}

	.content {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
