.container {
	position: relative;

	height: 100vh;
	min-height: 720px;

	background: url('../../../../../../images/MainPage/background-2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: auto;

	scroll-snap-align: start;

	.initials-icon-wrapper {
		position: absolute;
		left: calc(50% - 87px / 2);
		bottom: 30px;
	}
}
