@import '../../../../../assets/fonts/Inter';
@import '../../../../../styles/palettes/configuratorPallete';

.container {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	margin-left: auto;

	.option {
		font-family: 'Inter ExtraBold', sans-serif;
		padding: 8px 6px;

		border: 1px solid transparent;
		color: $primary-font-color;

    cursor: pointer;
    
		&.active {
			border: 1px solid #b79f71;

			background: linear-gradient(180deg, #b79f71 0%, #837252 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}
    
    &.disabled {
      cursor: not-allowed;
    }

		margin-right: 14px;
	}
}

@media (max-width: 635px) {
	.container {
		scale: 0.8;
	}
}
