* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#nprogress .bar {
	background: rgba(0, 0, 0, 0.7) !important;
	height: 3px !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.7) !important;
}
