* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#nprogress .bar {
	background: rgba(0, 0, 0, 0.7) !important;
	height: 3px !important;
}

#nprogress .peg {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.7) !important;
}

body {
	background: linear-gradient(135.31deg, #131d28 1.38%, #050c11 100.55%);
}
