@import '../../../../../../styles/utils/optimizedBackdropFilter';

.container {
	width: 100%;
	height: 100vh;
	position: relative;

	scroll-snap-align: start;

	.content {
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10%;

		.images {
			display: flex;
			flex-direction: column;
			gap: 100px;

			.after-shadow {
				&::after {
					content: '';

					position: absolute;
					top: -15px;
					left: 15px;

					width: 100%;
					height: 100%;

					background-color: rgba(0, 0, 0, 0.6);
					@include optimizedBackdropFilter('blur(50px)');

					z-index: -1;
				}
			}

			.primary-image-wrapper {
				position: relative;

				width: 400px;
				height: 200px;
			}

			.secondary-image-wrapper {
				position: relative;

				width: 400px;
				height: 230px;
				margin-left: 150px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.container {
		.content {
			flex-direction: column;

			padding-top: 80px;
			padding: 0 15px;

			.images {
				gap: 5%;

				.primary-image-wrapper {
					width: calc(100% - 30px);
					margin: auto;
					height: auto;
				}

				.secondary-image-wrapper {
					display: none;
				}
			}
		}
	}
}
