@import '../../../../../styles/palettes/configuratorPallete';

.home-btn {
	position: absolute;
	bottom: 32px;
	left: 32px;
	z-index: 1;
	padding: 0.5rem;

	width: 54px;
	height: 54px;

	background-color: $primary-background;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		fill: $primary-icon-color;
		height: 34px;
		width: 32px;
	}

	&:hover {
		cursor: pointer;
	}

  visibility: hidden;
}


@media (max-width: 900px) {
  .home-btn {
    visibility: visible;
  }
}