@import '../../../../../styles/palettes/configuratorPallete';

.trigger {
	z-index: 2;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 500ms;

	.dropdown {
		position: absolute;
		width: 100vw;
		height: 50px;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;

		overflow: hidden;
		pointer-events: none;
		border-radius: 15px;

		transform: translateY(350%);

		.menu {
			width: 595px;
			height: 50px;

			box-shadow: 0px 1px 1px px rgba(0, 0, 0, 0.15);
			border-radius: 50px;

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.2em 1em;
			gap: 8px;

			transform: translateY(-105%);
			transition: 500ms ease-out;

			background-color: $primary-background;
            color: $primary-font-color;
		}

		.menu.active {
			transform: translateY(0%);
			pointer-events: all;
		}

		svg {
			rotate: 90deg;
			width: 10px;
			height: 10px;
		}

		.item {
			transition: 500ms;

			&:hover {
				cursor: pointer;
				transform: translateY(1px);
				filter: brightness(0.75);
			}
		}
	}

	.dropdown.active {
		z-index: 1;
		pointer-events: all;
	}
}
