@import '../../../../../styles/palettes/configuratorPallete';

.container {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	color: $primary-font-color;
	font-size: 1.3rem;

	position: absolute;
	top: 160px;
	left: 0;

	height: calc(100vh - 210px);

	transform: translateX(-100%);
	z-index: 2;
	transition: 500ms;

	display: flex;

	.content {
        overflow: scroll;
		.title {
			width: 100%;
			height: fit-content;

			h3 {
				font-weight: lighter;
			}
		}

		height: 100%;
		width: 80%;
		background-color: $primary-background;
		display: flex;
		flex-direction: column;

		padding: 1.5rem;
	}

	.control {
		button {
			width: 54px;
			height: 54px;
			border-radius: 50%;

			background-color: $primary-background;
			border: 2px solid rgba(0, 0, 0, 0.2);

			display: flex;
			align-items: center;
			justify-content: center;

			margin-left: 13px;
			margin-top: 13px;

			svg {
				fill: $primary-icon-color;
				rotate: 90deg;
				width: 32px;
				height: 32px;
			}

			transition: 350ms;

			&:hover {
				cursor: pointer;
				transform: scale(1.05);
			}
		}
	}
}

.container.active {
	transform: translateX(0%);
}
