@import '../../../../../../../../assets/fonts/Montserrat';
@import '../../../../../../../../styles/palettes/configuratorPallete';

.container {
	display: flex;
	flex-direction: column;
  gap: 25px;

	color: $primary-font-color;
	font-size: 1.25rem;

	.element {
		display: flex;
		gap: 40px;

		border: none;
		border-bottom: 2px solid $primary-font-color;

		padding-bottom: 8px;

		.label {
      width: 100px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
        
			font-family: 'Montserrat', sans-serif;
		}

		.value {
			font-family: 'Montserrat Light', sans-serif;
      opacity: 0.7;
		}
	}
}
