@import '../../../../Configurators/components/UI/OptionItems/ExteriorOptionsItem/ExteriorOptionsItem.module.scss';
@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../styles/utils/backgroundClip';

.container {
	position: relative;

	.image-wrapper {
		position: relative;

		width: 220px;
		height: 150px;

		overflow: hidden;

		filter: brightness(0.85);

		border-radius: 10px;

		@include shadow;
	}

	.icon-wrapper {
		position: absolute;
		top: 60px;
		left: 100px;

		opacity: 0;
		scale: 0.2;

		z-index: 100;

		transition: all 0.2s ease-in-out;

		svg {
			width: 40px;
			height: 40px;

			g {
				fill: #b79f71;
			}
		}
	}

	&:hover {
		.image-wrapper {
			filter: brightness(0.4);
		}

		.icon-wrapper {
			opacity: 1;
			scale: 1;

			cursor: pointer;
		}
	}
}

.description {
	font-family: 'Montserrat', sans-serif;
	width: 150px;

	.price {
		font-family: 'Montserrat Light', sans-serif;
		font-size: 0.85rem;

    margin-top: 10px;

		@include backgroundClip(linear-gradient(180deg, #b79f71 0%, #837252 100%));
	}
}
