.container {
	width: 100%;
	height: 100vh;
	position: relative;

	scroll-snap-align: start;

	.content {
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;

		padding-top: 80px;
	}
}

@media (max-width: 1000px) {
	.container {
		padding-top: 110px;

		.content {
			padding: 0 15px;
      gap: 50px;
		}
	}
}
