@import '../../../../../assets/fonts/MrDafoe';

.container {
	height: 100vh;
  min-height: 720px;
	width: 100%;

  overflow: hidden;
	position: relative;

  scroll-snap-align: start;

	.signature {
		position: absolute;
		top: 40%;
		left: calc(50% - (585px + 40px) / 2);

		padding: 0 20px;

		font-family: 'MrDafoe';
		font-size: 100px;
		letter-spacing: 0.045em;

		-webkit-background-clip: text;
    -moz-background-clip: text;


		background-clip: text;

		-webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

		background-image: linear-gradient(180deg, #b79f71 0%, #837252 100%);

		transform: rotate(-1.81deg);
    user-select: none;
	}

	.controls {
		position: absolute;
		bottom: 40px;
		right: 5%;

		display: flex;
		gap: 8px;

		.control {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #fff;
			opacity: 0.5;
			transition: 0.3s ease-in-out;

			&.active {
				opacity: 1;
			}

			&:hover {
				opacity: 0.75;
				transform: translateY(1px);
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 800px) {
	.container {
		.signature {
			font-size: 80px;
      left: calc(54% - (562px + 40px) / 2);
		}
	}
}

@media (max-width: 600px) {
  .container {
    .signature {
      left: 10%;
    }
  }
}