@import '../../../../../assets/fonts/Montserrat';

@mixin baseInputStyles {
	padding: 25px 60px;

	border: none;
	border-radius: 45px;

	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #b79f71;

	background: linear-gradient(
		155.98deg,
		#0b0b0b 36.17%,
		rgba(11, 11, 11, 0) 109.74%
	);
	box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.8);
	filter: drop-shadow(4px 3px 7px rgba(255, 255, 255, 0.03));

	&:focus {
		outline: none;
	}
}

.container {
	width: 350px;
	@include baseInputStyles;

	&.invalid {
		box-shadow: inset 8px 8px 16px rgba(73, 14, 14, 0.8);
	}
}

::placeholder {
	color: #b79f71;
	opacity: 0.3;
}

@media (max-width: 850px) {
  .container {
    width: 100%;
  }
}
