@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../styles/utils/backgroundClip';
@import '../../../../../styles/palettes/configuratorPallete';
@import '../../../../../assets/fonts/Inter';

.container {
	width: 100%;
	height: 100vh;

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	scroll-snap-align: start;

	padding-left: 200px;

	.title {
		font-family: 'Montserrat Bold', sans-serif;
		font-size: 4rem;
		color: #ffffff;

		span {
			@include backgroundClip(
				linear-gradient(180deg, #b79f71 0%, #837252 100%)
			);
		}

		margin-bottom: 16px;
	}

	.location {
		font-size: 1.25rem;
		font-family: 'Inter';

		display: flex;
		gap: 8px;
		align-items: center;

		span {
			color: rgba(255, 255, 255, 0.7);
		}

		span.active {
			color: $primary-font-color;
		}

		svg {
			margin-top: 2px;

			path {
				fill: rgba(255, 255, 255, 0.7);
			}
		}
	}
}
