@import '../../../../../../styles/palettes/configuratorPallete';

.title {
	font-size: 1.2rem;
	color: $primary-font-color;

	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: lighter;
}

.container {
	width: 300px;
	display: flex;
	align-items: center;

	.range-slider {
		-webkit-appearance: none;
		width: 200px;
		height: 10px;
		border-radius: 5px;
		background: rgba(120, 120, 120, 0.8);
		outline: none;
		padding: 0;
		margin: 0;

		// Range Handle
		&::-webkit-slider-thumb {
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #2c3e50;
			cursor: pointer;
			transition: 250ms;

			&:hover {
				filter: brightness(1.2);
			}
		}

		&::-moz-range-thumb {
			width: 20px;
			height: 20px;
			border: 0;
			border-radius: 50%;
			background: #1abc9c;
			cursor: pointer;
			transition: background 0.15s ease-in-out;

			&:hover {
				background: #1abc9c;
			}
		}

		// Focus state
		&:focus {
			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
			}
		}
	}

	.value {
		display: inline-block;
		position: relative;
		width: 50px;
		color: white;
		line-height: 20px;
		text-align: center;
		border-radius: 3px;
		background: $primary-background;
		padding: 5px 10px;
		margin-left: 10px;

		font-size: 1.15rem;

		&:after {
			position: absolute;
			top: 8px;
			left: -7px;
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-right: 7px solid $primary-background;
			border-bottom: 7px solid transparent;
			content: '';
		}
	}

	.apply-btn {
		height: 30px;
		width: 30px;
		background-color: $primary-background;
		color: $primary-font-color;

		backdrop-filter: blur(10px);
		font-size: 1.15rem;

		border: none;
		border-radius: 5px;

		margin-left: 5px;
		transition: 500ms;

		&:hover {
			cursor: pointer;
			transform: scale(1.05);
			color: rgba(120, 120, 120, 0.8);
		}
	}
}

::-moz-range-track {
	background: #d7dcdf;
	border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
	border: 0;
}
