@import '../../../../../assets/fonts/Montserrat.scss';
@import '../../../../../styles/palettes/configuratorPallete.scss';

.container {
	margin-left: 80px;

	hr {
		max-width: 670px;

		background: linear-gradient(180deg, #b79f71 0%, #837252 100%);
		height: 1px;
		border: none;

		margin: 15px 0;
	}

	.header {
		display: flex;
		gap: 20px;

		.fold-icon-wrapper {
			min-width: 44px;
			height: 44px;

			display: flex;
			justify-content: center;
			align-items: center;

			border: 2px solid #b79f71;
			border-radius: 50%;

			&:hover {
				cursor: pointer;
			}
		}

		.title {
			margin-top: 12px;

			font-family: 'Montserrat Bold', sans-serif;
			font-size: 1.1rem;
			color: $primary-font-color;

			&:hover {
				cursor: pointer;
			}

			width: 600px;

			.content {
				margin-top: 12px;
				font-family: 'Montserrat', sans-serif;
				color: $primary-font-color;

				width: 590px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.container {
		margin-left: 0;
	}
}

@media (max-width: 760px) {
	.container {
		hr {
			width: 480px;
		}

		.header {
			.title {
				width: 400px;

				.content {
					width: 400px;
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.container {
		hr {
			width: 410px;
		}

		.header {
			.title {
				font-size: 0.9rem;
				width: 340px;

				.content {
					font-size: 0.75rem;
					width: 340px;
				}
			}
		}
	}
}

@media (max-width: 470px) {
	.container {
		hr {
			width: 340px;
		}

		.header {
			gap: 15px;

			.fold-icon-wrapper {
				min-width: 30px;
				height: 30px;

				border: 1px solid #b79f71;

				svg {
					width: 11px;
					height: 11px;
				}
			}

			.title {
				width: 285px;
				margin-top: 8px;

				.content {
					width: 275px;
				}
			}
		}
	}
}
