@import '../../../../../../styles/palettes/configuratorPallete';

.list-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    svg {
        width: 32px;
        height: 32px;
    }

	.list-title {
		font-weight: lighter;
	}

    margin-bottom: 15px;
}

ul {
	li {
		margin-left: 1em;
	}
}
