@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../styles/utils/backgroundClip';

.container {
	display: flex;
	flex-direction: column;
	gap: 60px;

	margin-bottom: 40px;

	.form {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.submit-btn {
			font-size: 1.25rem;
			font-family: 'Montserrat Bold', sans-serif;

			margin-top: 30px;
			padding: 25px 60px;
			max-width: 220px;

			span {
				@include backgroundClip(
					linear-gradient(180deg, #b79f71 0%, #837252 100%)
				);
			}

			border: none;
			border-radius: 45px;

			background: linear-gradient(
				155.98deg,
				#0b0b0b 36.17%,
				rgba(11, 11, 11, 0.089) 109.74%
			);
			filter: drop-shadow(5px 4px 10px rgba(255, 255, 255, 0.03));

			transition: 300ms;

			&:hover {
				cursor: pointer;
				transform: translateY(-4px);
			}
		}
	}
}
