@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../styles/utils/backgroundClip';

.container {
	display: grid;
	grid-template-columns: repeat(3, 220px);
	gap: 10px;

	margin-top: 25px;

	.no-accessories {
		grid-column: 1 / 4;

		font-family: 'Montserrat Light', sans-serif;
		font-size: 1.5rem;
		@include backgroundClip(linear-gradient(180deg, #b79f71 0%, #837252 100%));

		opacity: 0.6;
	}
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    justify-content: center;
    grid-template-columns: 220px;
  }
}
