@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../styles/palettes/configuratorPallete';
@import '../../../../../styles/utils/backgroundClip';

.container {
	width: 100%;
	height: 100vh;
	position: relative;

	display: flex;
	justify-content: space-between;

	scroll-snap-align: start;

	padding: 200px 100px 0 100px;

	background-color: black;

	.column {
		display: flex;
		flex-direction: column;

		.quote-block {
			position: relative;
			width: 800px;

			display: flex;
			gap: 70px;

			padding: 40px;
			border-radius: 40px;
			margin-top: 35px;

			background: #0b0b0b;

			color: $primary-font-color;

			quotes: none;

			.content {
				font-family: 'Montserrat Light', sans-serif;
				padding: 40px 0;
			}

			.quote-icon-wrapper {
				position: absolute;
			}

			.top {
				top: 30px;
				left: 40px;
			}

			.bottom {
				bottom: 30px;
				right: 250px;

				transform: rotate(180deg);
			}
		}

		.avatar-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 6px;

			.avatar {
				width: 95px;
				height: 89px;
				border-radius: 50%;
				overflow: hidden;

				margin-bottom: 5px;
			}

			.owner-name {
				font-family: 'Montserrat', sans-serif;
				font-size: 1.3rem;
			}

			hr {
				width: 74px;
				height: 2px;
				border: none;
				background-color: #b79f71bc;
			}

			.annotation {
				font-family: 'Montserrat Light', sans-serif;
				font-size: 1rem;
			}
		}

		.contact {
			background-color: transparent;
			border: none;

			display: flex;
			align-items: center;
			gap: 5px;

			margin-top: 50px;

			span {
				font-family: 'Montserrat Bold', sans-serif;
				font-size: 1.2rem;

				@include backgroundClip(
					linear-gradient(180deg, #b79f71 0%, #837252 100%)
				);
			}

			svg {
				margin-top: 2px;
			}

			transition: 350ms;

			&:hover {
				cursor: pointer;
				transform: translateX(3px);
			}
		}
	}

	.video-block {
		margin-top: 35px;

		width: 370px;
		height: 330px;

		display: flex;
		align-items: center;
		justify-content: center;

		background: #0b0b0b;
		border-radius: 15px;

		svg {
			width: 80px;
			height: 80px;
		}
	}
}
