@import '../../../../../../assets/fonts/Montserrat';
@import '../../../../../../assets/fonts/AnticDidone';
@import '../../../../../../styles/palettes/configuratorPallete';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	width: fit-content;

	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 4.25rem;
		color: $primary-font-color;
	}

	span {
		font-family: 'Antic Didone', serif;
		font-size: 11rem;
		color: $primary-font-color;
		opacity: 0.4;

		position: absolute;
		top: -70px;
		margin: 0 auto;
	}

	hr {
		width: 160px;
		height: 2px;

		background-color: #b79f71;
		border: none;

		margin-top: 30px;
	}

	.annotation {
		font-family: 'Montserrat Light', sans-serif;
		font-size: 1.5rem;
		text-align: center;
		color: $primary-font-color;

		opacity: 0.7;

		margin-top: 30px;

		width: 600px;
	}
}

@media (max-width: 1000px) {
	.container {
		h1 {
			font-size: 2.5rem;
		}

		span {
			font-size: 6rem;
		}

		hr {
			width: 100px;
		}

		.annotation {
			width: 100%;
			font-size: 1.15rem;
		}
	}
}
