@import '../../../../../styles/utils/backgroundClip';
@import '../../../../../assets/fonts/Montserrat';
@import '../../../../../styles/palettes/configuratorPallete';

.container {
	position: relative;

	width: 100%;
	height: 100vh;
	overflow: hidden;

	scroll-snap-align: start;
	background-color: black;

	display: flex;
	flex-direction: column;

	padding: 0 130px;

	.title {
		font-family: 'Montserrat Bold', sans-serif;
		font-size: 2rem;

		align-self: center;
		margin-top: 30px;
		margin-bottom: 250px;

		@include backgroundClip(linear-gradient(180deg, #b79f71 0%, #837252 100%));
	}

	.content {
		font-family: 'Montserrat Light', sans-serif;
		color: $primary-font-color;

		margin-top: 20px;

		width: 700px;
	}

	.read-more-btn {
		width: 161px;

		font-family: 'Montserrat', sans-serif;
		color: $primary-font-color;
		font-size: 1rem;

		border: none;
		border-radius: 20px;
		background-color: black;
		padding: 1em 0.5em;

		margin-top: 20px;

		box-shadow: inset 0 1px 0 0 #b79f71;

		transition: 300ms;

		&:hover {
			cursor: pointer;
			box-shadow: inset 0 0 0 1px #b79f71;
			scale: 1.025;
		}
	}

	.decoration {
		position: absolute;
		width: 1000px;
		height: 900px;
		top: -18%;
		left: 32%;

		.circle {
			position: absolute;
			border-radius: 50%;
		}

		.big {
			width: 790px;
			height: 790px;

			right: -20%;
			bottom: -15%;

			border: 20px solid #b79f71;
			opacity: 0.1;
		}

		.medium {
			width: 608px;
			height: 608px;

			right: -11.5%;
			bottom: -5%;

			border: 20px solid #b79f71;
			opacity: 0.25;
		}

		.small {
			width: 423px;
			height: 423px;

			right: -2.5%;
			bottom: 5%;

			border: 20px solid #837252;
			opacity: 0.4;
		}

		.clients-widget {
			position: absolute;
			left: 40%;
			top: 35%;

			width: 208px;
			height: 208px;

			font-family: 'Montserrat Bold', sans-serif;
			font-size: 1.1rem;
			color: $primary-font-color;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			background-image: linear-gradient(180deg, #b79f71bc 0%, #837252cb 100%);

			border-radius: 20px;

			.clients-icon-wrapper {
				margin-bottom: 26px;
			}
		}

		.cities-widget,
		.customers-widget {
			position: absolute;
			left: 80%;
			top: 23%;

			width: 160px;
			height: 160px;

			border-radius: 20px;
			background: #1c1c1c;

			font-family: 'Montserrat Bold', sans-serif;
			font-size: 1.1rem;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			span {
				@include backgroundClip(
					linear-gradient(180deg, #b79f71 0%, #837252 100%)
				);
			}

			.cities-icon-wrapper,
			.customers-icon-wrapper {
				margin-bottom: 10px;
			}
		}

		.customers-widget {
			width: 195px;

			top: 80%;
			left: 50%;
		}
	}
}
